{% extends "base.html" %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
<h2>{{ course.title }}</h2>
<p>{{ course.description }}</p>
<p><strong>Дата начала:</strong> {{ course.start_date }}</p>
<p><strong>Дата окончания:</strong> {{ course.end_date }}</p>

{% if course.logo %}
<img src="{{ course.logo.url }}" alt="{{ course.title }}" class="img-fluid">
{% endif %}

{% if user.is_authenticated %}
    <a href="{% url 'courses:update' course.id %}" class="btn btn-warning mt-3">Редактировать курс</a>
    <a href="{% url 'courses:delete' course.id %}" class="btn btn-danger mt-3">Удалить курс</a>
{% endif %}
{% endblock %}
